* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header styles beginning */

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: flexbox;
    justify-content: space-between;
    flex-wrap:wrap;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 35px;
    display: flexbox;
}

.header-nav-menu {
        list-style-type: none;
        font-size: 20px;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
      }

header li {
    display: inline;
    float: left;
}
/* header styles end */

/* paragraph style */

p {
    font-size: 16px;
}

/* hero style beginning */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*hero style end */

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }
  
  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* benefits section style beginning */

.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* benefits style end */

/* consolidated description styles beginning */

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 1100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/*consolidated description styles end */


/* footer style beginning */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* footer style end */